.arrows {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  height: 30px;
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition-duration: 1s;
}

.arrow {
  height: 30px;
  width: 30px;
  background-color: #fff;
}

.arrow:hover {
  cursor: pointer;
}

.left {
  background-image: url("../../ui/icons/png/arr.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
  transform: rotate(180deg);
}

.right {
  background-image: url("../../ui/icons/png/arr.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
