.header {
  background-color: #414855;
  width: 100%;
}

.header__container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__text {
  font-size: 25px;
  margin-left: 20px;
  color: #bdbdbd;
}

.header__navbar {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}
