.wrapper {
  background-color: #4b5161;
}

.content {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
}
